body {
  max-width: 540px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Licoda Grande", Verdana, "Microsoft Yahei",
    STXihei, hei;
  color: #000;
  background-color: #fafafc;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.home {
  .header {
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    /* 颜色渐变 */
  }
  .container {
    .banner-wrap {
      img {
        width: 100%;
        height: 220px;
        border-radius: 0 0 30px 30px;
      }
    }
    /* 焦点图 end */
    .local-nav {
      margin: -52px 12px 5px;
      position: relative;
      z-index: 1; // 层叠中z-index 与position:relative要一起才能出效
      background: #fff;
      border-radius: 8px;
      display: flex;
      justify-content: space-around;
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      li {
        text-align: center;
        padding-bottom: 5px;
        color: #222;
        font-size: 12px;
      }
      li:nth-child(n + 1)::before {
        content: "";
        height: 40px;
        border-radius: 100%;
        background-image: url("../home-fivemain-sprite2x.png");
        background-repeat: no-repeat;
        background-size: 40px auto;
        display: block;
      }
      li:nth-child(2)::before {
        background-position: 0 -40px;
      }
      li:nth-child(3)::before {
        background-position: 0 -80px;
      }
      li:nth-child(4)::before {
        background-position: 0 -120px;
      }
      li:nth-child(5)::before {
        background-position: 0 -160px;
      }
    }
    /* 本地导航 end */
    nav {
      overflow: hidden;
      margin: 10px 12px 1px;
      border-radius: 8px;
      box-sizing: border-box;
      box-sizing: -webkit-border-box;
      .nav-common {
        height: 65px;

        display: flex;
        .nav-item {
          text-align: center;
          box-sizing: border-box;
          margin: 0 1px 1px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: #fff;
            width: auto;
            text-align: center;
          }
        }

        .item6,
        .item7,
        .item5,
        .item2,
        .item11,
        .item9,
        .item10 {
          flex: 1;
        }
        .item1,
        .item4,
        .item8 {
          flex: 1.6;
        }
        .item1 {
          background-color: rgba(250, 101, 84);
          background-image: url("../hotel.png");
          background-repeat: no-repeat;
          background-size: 50% auto;
          background-position: 80px 27px;
        }
        .item2 {
          background-color: rgba(251, 129, 80);
          background-image: url("../mini.png");
          background-repeat: no-repeat;
          background-size: 40% auto;
          background-position: 0 40px;
        }
        .item3 {
          flex: 2;
          background-color: rgb(255, 191, 74);
          background-image: url("../hot.png");
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: -2px -23px;
          span {
            color: rgba(191, 116, 22);
          }
        }
        .item4 {
          background-color: rgba(77, 150, 237);
          background-image: url("../grid-nav-items-flight.png");
          background-repeat: no-repeat;
          background-size: 50% auto;
          background-position: 87px 27px;
        }
        .item5 {
          background-color: rgba(79, 166, 237);
          background-image: url("../grid-nav-items-train.png");
          background-repeat: no-repeat;
          background-size: 50% auto;
          background-position: -1px 35px;
        }
        .item6,
        .item7 {
          background-color: rgba(80, 171, 237);
        }

        .item8 {
          background-color: rgba(57, 196, 164);
          background-image: url("../grid-nav-items-travel.png");
          background-repeat: no-repeat;
          background-size: 50% auto;
          background-position: 87px 20px;
        }
        .item9 {
          background-color: rgba(79, 203, 131);
          background-image: url("../grid-nav-items-dingzhi.png");
          background-repeat: no-repeat;
          background-size: 50% auto;
          background-position: 0px 45px;
        }
        .item10,
        .item11 {
          background-color: rgba(91, 207, 112);
        }
      }
    }
    /*  主导航 end */
    .main-nav {
      max-height:105px;
      overflow: hidden;
      padding-left: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: space-between;
      box-sizing: border-box;
      margin: 0 12px 12px 12px;
      li {
        width:88px;
        min-width: 48px;
        max-width:105px;
        height: 53px;
        float: left;
        text-align: center;
        box-sizing: border-box;
        &:nth-child(n + 1)::before {
          content: "";
          width: 28px;
          height: 28px;
          margin: 0 auto;
          display: block;
          background: url("../un_ico_subnav2x@v7.152.png") no-repeat;
          background-position: 0 0;
          background-size: 100% auto;
        }
      }
      li:nth-child(2)::before {
        background-position: 0 -28px;
      }
      li:nth-child(3)::before {
        background-position: 0 -56px;
      }
      li:nth-child(4)::before {
        background-position: 0 -84px;
      }
      li:nth-child(5)::before {
        background-position: 0 -112px;
      }
      li:nth-child(6)::before {
        background-position: 0 -140px;
      }
      li:nth-child(7)::before {
        background-position: 0 -168px;
      }
      li:nth-child(8)::before {
        background-position: 0 -196px;
      }
      li:nth-child(9)::before {
        background-position: 0 -224px;
      }
      li:nth-child(10)::before {
        background-position: 0 -249px;
      }
    }
    /* 自由行 end */
    .hotAdvise {
      height: 44px;
      margin: 0 10px;
      box-sizing: border-box;
      background-color: #fff;
      border-top: 1px solid #dbdbdb;
      padding: 0 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 14px;
        overflow: hidden;
        &::before {
          content: "";
          display: block;
          width: 79px;
          height: 25px;
          -webkit-transform: translateY(18%);
          transform: translateY(18%);
          background: url("../un_home_text.png") no-repeat;
          background-size: 100%;
          background-position: 0 -20px;
        }
      }
      i::before {
        content: "";
        width: 36px;
        height: 15px;
        display: block;
        -webkit-transform: translateY(12%);
        transform: translateY(12%);
        background: url("../icon-gg@2x.png") no-repeat;
        background-size: 100%;
      }
      a {
        flex: 2;
        font-size: 12px;
        text-align: right;
        color: #fff;
        span {
          padding: 1px 5px 1px 12px;
          border-radius: 10px;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ff4e63),
            to(#ff6cc9)
          );
          background: linear-gradient(to right, #ff4e63, #ff6cc9);
        }
      }
    }
    /* 热门活动 end */
    .row-adv {
      background-color: #fff;
      height: 106px;
      margin: 1px 10px;
      border-top: 1px solid #f2f2f2;
      display: flex;
      div:first-child {
        width: 260px;
        background-image: url("../zg091e000001f5gizE76D.png");
        background-size: 100% 100%;
        position: relative;
        &::before {
          content: " 广告";
          position: absolute;
          bottom: 0;
          font-size: 10px;
          padding: 0px 4px;
          color: #fff;
          background-color: #b2b2b2;
          border-radius: 0 5px 0 0;
        }
      }
      div:last-child {
        width: 260px;
        border-left: 1px solid #f2f2f2;
        background-image: url("../zg081e000001f380z88EC.jpg");
        background-size: 100% 100%;
        position: relative;
        &::before {
          content: " 广告";
          position: absolute;
          bottom: 0;
          font-size: 10px;
          padding: 0px 4px;
          color: #fff;
          background-color: #b2b2b2;
          border-radius: 0 5px 0 0;
        }
      }
    }
    /* 广告end */
    .footer {
      box-sizing: border-box;
      margin-top: 10px;
      .loadApp {
        height: 59px;
        background-color: #fff;
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        a {
          display: block;
          width: 180px;
          padding: 10px 0;
          color: #333;
          font-size: 13px;
          .iconfont {
            font-size: 20px;
            color: #999;
          }
          i {
            display: block;
          }
        }
      }
      .toolver {
        text-align: center;
        color: #666;
        font-size: 12px;
        padding-top: 5px;
        a {
          padding: 0 5px;
        }
      }
      .copyright {
        text-align: center;
        color: #999;
        font-size: 12px;
        padding: 5px 0 5px 0;
      }
    }
  }
}
